/* Основные стили */
body {
    /* font-family: 'Arial', sans-serif; */
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f6f9; 
    color: #1e1d1d;
    justify-content: center;
}

/* Стиль для контейнера хедера */
header {
    position: relative;
    height: 100%; /* Высота блока */
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%), 
        url('/img/header_backgr2.jpg'); 
    background-size: cover; /* Изображение заполняет блок */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
    overflow: hidden; /* Чтобы элементы не выходили за пределы блока */
    z-index: 100;
}

/* Стили для кнопки возврата наверх */
    #btn_to_top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none; 
        padding: 10px 15px;
        background-color: #8B4513;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        z-index: 100;
    }

        /* Отображение кнопки при прокрутке */
        #btn_to_top.show {
            display: block;
        }


.linkToHome {
    text-decoration: none;
    color: transparent;
}
.linkToHome:hover {
    text-decoration: none; /* Убираем подчеркивание при наведении */
    color: transparent; /* Если вы хотите оставить цвет таким же, как и в обычном состоянии */
}




/* Псевдоэлемент для затемнения фонового изображения */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(236, 232, 232, 0.1); Легкое затемнение */
    z-index: 1; /* Слой затемнения позади контента */
}

.header_mobile {
    display: none;
    position: relative;
    height: 100%; /* Высота блока */
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.61) 50%, rgba(255, 255, 255, 1) 100%), 
        url('/img/header_backgr2.jpg'); 
    background-size: cover; /* Изображение заполняет блок */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
    overflow: hidden; /* Чтобы элементы не выходили за пределы блока */
    z-index: 100;
}
.block_nav_mobile {
    background-color: rgb(red, green, blue);
    width: 100%;
}
.locat_text_nav {
    font-size: 14px;
    color: hsl(140, 4%, 13%);
    font-style: italic;
    text-decoration: underline;
}



/* nav блок */
.button-container {
    display: none;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание по левому краю */
}


.additional-buttons {
    width: 100%; /* Занимает всю доступную ширину */
}

.button-row {
    display: flex; /* Группировка кнопок в ряд */
    justify-content: space-between; /* Распределение кнопок по доступной ширине */
    width: 100%; /* Занимает всю ширину контейнера */
    margin-bottom: 10px; /* Отступ между рядами */
}

.button-row:last-child {
    justify-content: flex-start; /* Выровнять вторую строку кнопок влево */
}

.fixed-width {
    width: 160px !important; /* Задание фиксированной ширины для кнопок "О нас" и "Собственникам" */
    margin-right: 10px; /* Отступ между кнопками, если необходимо */
}

.button-row:last-child .fixed-width:last-child {
    margin-right: 0; /* Удаление правого отступа у последней кнопки */
}

.btn_flex {
    flex: 1; /* Адаптивная ширина для первой строки кнопок */
    margin-right: 10px; /* Отступ между кнопками */
}


/* Удаление отступа у последней кнопки в первой строке */
.button-row:first-child .btn:last-child {
    margin-right: 0;
}

.btn_nav {
    padding: 5px;
    font-size: 14px;
    border: #713303;
    margin-bottom: 5px;
}
.btn_color2 {
    background-color: #D8B394; /* Светлый древесный цвет */
    background-image: linear-gradient(135deg, #D8B394 0%, #B59A7E 100%); /* Градиентный фон */
    border: none; /* Убираем границу */
    color: hsl(120, 9%, 2%) !important; /* Цвет текста */
    padding: 5px 3px; /* Отступ внутри кнопки */
    border-radius: 5px; /* Округлые края */
    font-size: 13px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные переходы для эффектов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
        
}
.btn_color3 {
    background-color: #e3613a; /* Светлый древесный цвет */
    background-image: linear-gradient(135deg, #dc621b 0%, #ed6708 100%); /* Градиентный фон */
}
.btn_color2:hover {
    background-image: linear-gradient(135deg, #B59A7E 0%, #D8B394 100%); /* Изменение градиента при наведении */
    transform: translateY(-2px); /* Небольшое поднятие кнопки при наведении */
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2); /* Более выраженная тень при наведении */
}

.btn_color2:focus {
    outline: none; /* Убираем обводку */
}

.btn_color2.btn-secondary {
    background-color: #B57A61; /* Темный древесный цвет для вторичных кнопок */
    background-image: linear-gradient(135deg, #B57A61 0%, #8C5B4D 100%); /* Градиент для вторичных кнопок */
}

.btn_color2.btn-secondary:hover {
    background-image: linear-gradient(135deg, #8C5B4D 0%, #B57A61 100%); /* Изменение градиента для вторичных кнопок при наведении */
}



/* Контент внутри хедера */
.header-content {
    display: flex; /* Flexbox для горизонтального расположения */
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Центрирование заголовка по горизонтали */
    position: relative;
    z-index: 2; /* Контент поверх псевдоэлемента */
    padding: 20px 40px;
    height: 100%; /* Занимает полную высоту контейнера */
}

/* Логотип слева */
.logo {
    /* font-size: 24px;
    font-weight: bold; 
    color: #f00909;  */
    position: absolute;
    left: 20px; 
}
.logo::before {
    /* content: "";  */
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.1) 80%); 
    pointer-events: none;
}


/* Заголовок по центру */
.header-title {
    margin-bottom: 10px;
    font-size: 58px;
    font-family: "Neucha", sans-serif;
    font-weight: bold;
    color: hsl(140, 4%, 13%); 
}
.header-title_pos {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
}
.red {
    color: red; /* цвет для красных букв */
}
.text-container_title {
    border: 2px solid #8B4513; /* цвет рамки - коричневый (цвет древесины) */
    border-radius: 10px; /* закругление углов */
    background-color: #FFE4B5; /* теплый фон (цвет пшенично-бежевый) */
    padding: 15px; /* внутренние отступы */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* легкая тень для эффекта глубины */
    text-align: center; /* выравнивание текста по центру */
}
.container_title_mob {
    border: 2px solid #8B4513; /* цвет рамки - коричневый (цвет древесины) */
    border-radius: 10px; /* закругление углов */
    background-color: #FFE4B5; /* теплый фон (цвет пшенично-бежевый) */
    padding: 3px 10px; /* внутренние отступы */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* легкая тень для эффекта глубины */
    text-align: center; /* выравнивание текста по центру */  
}

.select_tow_title {
    margin: 5px !important;
}


.banner-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-title,
.recomend-title,
.others-title {
    color: hsl(140, 4%, 13%); /* Цвет текста заголовка (голубой тон) */
    text-align: center; /* Центрируем текст */
    font-family: "Neucha", sans-serif;
}

/* Основная структура */
.container {
    display: flex;
    padding: 20px;
    max-width: 1400px;
    justify-content: center;
    margin: 10px auto;
}

.img_top {
    width: 50%;
    height: auto;
}

#img_top_mob {
    width: 90% !important;
    height: auto;
}

aside.filters {
    width: 20%;
    padding-right: 20px;
    background-color: #e2d1c3; /* Светло-коричневый тон для фона фильтров */
    border-radius: 10px;
    padding: 20px;
}
.logo1 {
    width: 200px;
    height: auto;
}
.logo1_mob {
    width: 150px;
    height: 91px;
}

.filters h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.filters ul {
    list-style: none;
    padding: 0;
}

.filters input[type="checkbox"] {
    margin-right: 10px;
}

main.content {
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

.btm-text-footer {
    font-size: 16px;
}


                                            /* блок рекламы */
.img_advertis {
    max-width: 100%;
    height: auto;
    margin: 5px 0 10px 0;

    border-radius: 8px;
    transition: transform 0.2s;
}
.img_advertis:hover {
    transform: scale(1.05);
}
.gallery {
    display: flex; /* Используем Flexbox для расположения изображений в ряд */
    gap: 15px; /* Задаем промежуток между картинками */
    justify-content: center; /* Центрируем изображения в контейнере */
}

.gallery img {
    /* max-width: 100%; */
    height: auto; /* Сохраняем пропорции изображений */
    flex: 1 0 auto; /* Заставляем изображения занимать ровно столько места, сколько нужно, и не растягиваться */
    object-fit: contain; /* Изображения сохранят пропорции и не обрежутся */
}
.img-advert_mob {
    max-width: 45%;
}

/* Модальное окно */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 15% auto;
    display: block;
    max-width: 60%;
    max-height: 60%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

                                                    /*  */

    /* Для мобильной */
    .modal {
        display: none; /* Скрыто по умолчанию */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .modal-content_mob {
        margin: 15% auto;
        display: block;
        max-width: 90%;
        max-height: 90%;
    }
    
    .close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: white;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
    }
/*  */

/* Категории */
.category {
    margin-bottom: 25px;
    background-color: #f8f4e3; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    max-width: 100%; /* Ограничиваем максимальную ширину секции, можно задать конкретные значения, например, 800px */
    overflow: hidden; /* Прячем любые выходящие за границы элементы */
}

.category.others {
    margin-bottom: 40px;
    background-color: #f8f4e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.category h2 {
    margin-bottom: 5px;
    font-size: 36px;
    color: #2c5d6b; /* Темно-голубой для заголовков категорий */
}

/* Прокрутка карточек для блоков "Топ" и "Рекомендуемое" */
.scroll-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #f8f4e3;
    border-radius: 10px;
}


/* Открываем прокрутку в горизонтальном направлении */
.cards-wrapper {
    display: flex; /* Отображает карточки в строке */
    overflow-x: auto; /* Позволяет горизонтальную прокрутку */
    scroll-behavior: smooth; /* Плавная прокрутка */
    padding: 5px; /* Внутренние отступы */
    scrollbar-width: thin; /* Устанавливает ширину полосы прокрутки в Firefox */
    gap: 10px;
}

/* Настройки для WebKit-браузеров (Chrome, Safari) */
.cards-wrapper::-webkit-scrollbar {
    height: 12px; /* Высота полосы прокрутки */
}

.cards-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона полосы прокрутки */
}

.cards-wrapper::-webkit-scrollbar-thumb {
    background: #3498db; /* Цвет ползунка */
    border-radius: 10px; /* Закругление углов ползунка */
}

/* Добавит эффект при наведении курсора на ползунок */
.cards-wrapper::-webkit-scrollbar-thumb:hover {
    background: #2980b9; /* Цвет ползунка при наведении */
}

/* Настройки для Firefox */
.cards-wrapper {
    scrollbar-color: #3498db #f1f1f1; /* Цвет ползунка и цвета полосы прокрутки */
}

/* Кнопки прокрутки */
.scroll-btn {
    background-color: #3498db; /* Цвет кнопок */
    color: white; /* Цвет текста кнопок */
    border: none;
    cursor: pointer;
    padding: 10px; /* Отступ кнопок */
    border-radius: 20%;
}

/* конец прокрутки */




.img-top_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.show_mobile, 
.show_mobile_advertis {
    display: none;
}

.show_mobile_advertis {
    border: 2px solid #883701;
}
.icon-contact_my {
    font-size: 36px !important;
}
.main_block {
   padding: 0 20px 10px; 
}

/* Карточки */
.card {
    /* background-color: #fff; */
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3px;
    /* padding: 0; */
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
    
}
.cart_bania {
    margin-bottom: 10px;
}
.others .card {
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.for_mobile_link_btn {
    width: auto;
}

/* Фильтр */

.form-group label {
    font-weight: 500;
}

.selectpicker {
    width: 100%;
}

.form-range {
    width: 100%;
    margin-top: 10px;
}

.btn {
    background-color: #9f5800;
    color: white;
}
.input_piple_block {
    font-size: 0.8rem;
    margin-top: 5px;
}
.change_in_list_filter {
    font-size: 0.9rem;
    padding: 4px;
    width: 90%;
}
.btn_add_filters {
    background-color: #358c3b;
    color: white;
    border: none;
    padding: 5px 7px;
}
.btn_add_filters:hover {
    background-color: #c03610;
    color: white;
    border: none;
}
.btn_clr_filters {
    background-color: #9e1506fd;
    color: white;
    border: none;
}
.btn_clr_filters:hover {
    background-color: #815e54;
    color: white;
    border: none;
}
.btn_map {
    background-color: #9e1506fd;
    color: white;
    border: none;
}
.btn_map:hover {
    background-color: #815e54;
    color: white;
    border: none;
}

.no-background-change:focus,
.no-background-change:active {
    background-color: #c03610; /* Стандартный цвет фона кнопки */
    outline: none; /* Убираем контур вокруг кнопки при нажатии */
}
.btn_open_filters {
    width: 100px;
    padding: 6px 5px;
}
#offcanvasFilters {
    background-color: #e2d1c3;
    width: 300px;
}
.offcanvas-header,
.offcanvas-body {
    width: 300px;
}

.cooperat_blok,
.about_our_block {
    background-color: #358c3b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 5px;
    text-decoration: none;
}
.rent_block {
    background-color: #783705;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 5px;
    text-decoration: none;
}

/*  */
.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #2c5d6b; /* Тёмно-голубой цвет заголовков карточек */
}

.card p {
    margin: 5px 0;
    color: #666;
    font-size: 15px;
}

.block_margin_t_b {
    position: relative;
    padding-bottom: 10px; /* Немного отступа снизу для красоты */
    margin-bottom: 15px; /* Отступ между блоками */
}
.block_margin_t_b::after
 {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Толщина линии */
    background: linear-gradient(to right, transparent, #090909, transparent);
}
.icon-contact {
    font-size: 3rem;
    padding: 0 10px;
}

    /*  */

    
/* Стили для футера */
footer {
    text-align: center;
    padding: 20px;
    background-color: #7a5c3f; /* Тёмно-коричневый фон футера */
    color: #fff;
}
/* Заголовки */
h2 {
    font-weight: bold; /* Жирный заголовок */
    color: hsl(140, 4%, 13%); /* Цвет текста заголовка (голубой тон) */
    text-align: center; /* Центрируем текст */
    font-family: "Neucha", sans-serif;
    font-weight: bold;
    font-style: normal;
}

/* Оформление */
.btm_border {
    position: relative;
    padding-bottom: 10px; /* Немного отступа снизу для красоты */
    margin-bottom: 15px; /* Отступ между блоками */
}
.btm_border::after
 {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Толщина линии */
    background: linear-gradient(to right, transparent, #090909, transparent);
}
.block_cursor {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center; 
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.block_cursor i {
    margin-right: 8px;
    font-size: 28px;
}
.block_cursor h2 {
    margin: 0;                 
    font-size: 24;      
}

.line {
    flex: 1;
    height: 1px; /* высота линии */
    background: linear-gradient(to right, transparent, black, transparent); /* затухание */
    margin: 0 10px; /* отступ между линией и текстом */
}
/* Отступы */
.m-0 {
    margin: 0;
}
.m-b-15 {
    margin-bottom: 15px;
}
.ml-10 {
    margin-left: 10px;
}
.mt-0 {
    margin-top: 0;
}
.p-0 {
    padding: 0;
}
.mr-15 {
    margin-right: 15px;
}
.m_auto {
    margin: auto;
}
.p_5 {
    padding: 5px;
}
.ml-3px {
    margin-left: 3px;
}
.m-0 {
    margin: 0;
}


/* Адаптивность */

@media (max-width: 1400px) {
    .banner-img {
        height: 200px;
        object-fit: cover;
    }

    .card p {
        font-size: 16px;
    }
    .block_cursor h2 {
        font-size: 24px;
    }
    .btm-text-footer {
        font-size: 16px;
    }


}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    aside.filters {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    main.content {
        width: 100%;
    }

    .scroll-btn {
        padding: 5px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        position: static;
        margin-bottom: 10px;
    }
    .select_town {
        width: 200px;
    }

    .card p {
        font-size: 12px;
    }
    .hide_show_mobile {
        display: none;
    }
    .show_mobile {
        display: flex;
        justify-content: center;
        padding: 0 10px;
    }
    .show_mobile_advertis {
        display: block;
        background-color:#1acae6ce
        
    }
    .header-title {
        margin-bottom: 5px;
        font-size: 48px;
    }
    .header_mobile {
        display: block;
    }
    .button-container {
        display: flex;
    }
    main.content {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .main_block {
        padding: 0 5px 5px 5px; 
     }
    .card h3 {
        margin-bottom: 0;
        font-size: 16px;
    }
    .m-3_low {
        margin-left: 5px;
        margin-right: 5px;
    }
    .category.others {
        padding-left: 3px;
        padding-right: 3px;
    }
    .category h2 {
        margin-bottom: 0px;
        font-size: 26px;
    }
    .category {
        margin-bottom: 15px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .category {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btm-text-footer {
        font-size: 14px;
    }

}

@media (max-width: 580px) {
    .banner-img {
        height: 200px;
        object-fit: cover;
    }

    .card p {
        font-size: 15px;
    }
    .block_cursor h2 {
        font-size: 18px;
    }
    .hide_show_mobile {
        display: none;
    }
    .fixed-width {
        width: 150px;
        margin-right: 10px; /* Отступ между кнопками, если необходимо */
    }
    #img_top_mob {
        /* padding-left: 30px; */
        width: 80% !important;
        height: auto;
    }
    .logo1_mob {
        width: 100px;
        height: 61px;
    }
    .header-title {
        font-size: 42px;
    }

}

@media (max-width: 480px) {
    .banner-img {
        height: 200px;
        object-fit: cover;
    }

    .card p {
        font-size: 13px;
    }
    .hide_show_mobile {
        display: none;
    }

    .hide_min_480 {
        display: none !important;
    }
    .btn_color2 {

        padding: 4px 2px; /* Отступ внутри кнопки */
        border-radius: 5px; /* Округлые края */
        font-size: 12px; /* Размер шрифта */           
    }
    .btm-text-footer {
        font-size: 12px;
    }
    .cart_bania {
        margin-bottom: 7px;
        padding: 2px;
        
    }
    .cards-wrapper {
        gap: 7px;
    }
    .category .show_mobile_advertis {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .p_3 {
        padding: 3px;
    }
    .header-title {
        font-size: 32px;
    }
}
@media (max-width: 350px) {
    .header-title {
        font-size: 22px;
    }
    .btn_color2 {
        padding: 1px 1px;
        border-radius: 5px;
        font-size: 9px;
    }
    .btn_filter {
        font-size: 12px;
        padding: 3px;
    }
    .offcanvas-header, .offcanvas-body {
        width: 250px;
    }
    .icon-contact_my {
        font-size: 24px !important;
    }
    .locat_text_nav {
        font-size: 11px;
    }
    element.style {
        font-size: 16px !important;
    }
    .category h2 {
        font-size: 22px;
    }
    .cart_bania {
        margin-bottom: 5px;
        padding: 5px;
    }
    .cards-wrapper {
        gap: 5px;
    }
    .p_low_2 {
        padding: 2px;
    }
    #img_top_mob {
        /* padding-left: 30px; */
        width: 90% !important;
        height: auto;
    }
    .logo1_mob {
        width: 80px;
        height: 49px;
    }
    .container_title_mob {
        border: 2px solid #8B4513; /* цвет рамки - коричневый (цвет древесины) */
        border-radius: 5px; /* закругление углов */
        background-color: #FFE4B5; /* теплый фон (цвет пшенично-бежевый) */
        padding: 0px; /* внутренние отступы */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* легкая тень для эффекта глубины */
        text-align: center; /* выравнивание текста по центру */  
    }
    .header-title_pos {
        bottom: 5px; 
        padding: 3px;
    }
}